/*Default*/
a{
	text-decoration: none;
}
.container {
    max-width: 960px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}


/*-----------------Menu--------------------------*/
.nav__menu {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.nav__menu a {
    color: #999;
    transition: color 0.15s ease-in-out;
}


/**/
.font-weight-normal {
    font-weight: 400!important;
}
.paragraphe__text {
    font-size: 1.25rem;
}
/*Product device*/
.product__device{
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.product__device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}
.product__device2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}
/**/


.bg-dark {
    background-color: #343a40 !important;
}
.bg-primary {
    background-color: #007bff!important;
}

.bg-light {
    background-color: #f8f9fa!important;
}

.flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.bx-under-text{
    width: 80%; 
    height: 300px; 
    border-radius: 21px 21px 0 0;
}
.marginx{
    margin-left: 1rem;
    margin-right: 1rem;
}

.display-5 {
    font-size: 2rem !important;
    font-weight: 400;
}

@media (min-width: 768px){
        .pl-md-3, .px-md-3 {
            padding-left: 1rem!important;
        }
}